body {
    background-color: #121212;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-body img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.nav-link {
    margin: 0 15px;
}

footer .fab {
    color: #fff;
}
.card-content{
    padding: 15px;
}